<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title side="left">
      Today's Persistence
    </super-navbar-title>
  </super-navbar>

  <div layout="column" class="padding">
    <div flex class="scroll-y">
      <div class="list" ng-repeat="track in tracks" layout="row">
        <div layout="column" flex>
          <h4 ng-bind="track.name"></h4>
          <span>{{countDayStreak(track.data)}} day streak</span>
          <span
            ng-if="track.data.length > 0"
          >Last done {{track.data[0].t | momentPretty}}</span>
          <span
            ng-if="track.data.length === 0"
          >You've never done {{track.name}}, GL!</span>
        </div>
        <button
          ng-if="!doneToday(track)"
          class="button button-outline button-calm icon-left super-ios-pulse"
          ng-click="do(track)"
        >Do it!</button>
        <button
          ng-if="doneToday(track)"
          ng-disabled
          class="button button-balanced icon-left super-checkmark"
          ng-click="do(track)"
        >Done!</button>
        <!--
        <pre><code>{{track.data|json}}</code></pre>
        -->
      </div>
    </div>
  </div>
</div>