<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Index
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <h1>Pow! Here's your fresh module!</h1>
  </div>

  <super-navigate view-id="example#using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="example#learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>

</div>